$blue: #3282f7;
$red: #ed6454;
$teal: #68d9a4;

$font-family-sans-serif: "Lato", sans-serif;
$btn-font-family: "Lato", sans-serif;
$h2-font-size: 18px;

$input-bg: #e7e7e7;
$input-font-size-lg: 18px;
$input-group-addon-bg: #e7e7e7;
$input-border-color: white;
$input-border-width: 0;
$input-placeholder-color: #b1b1b1;

$card-bg: #e7e7e7;
$card-cap-bg: #e7e7e7;
$card-cap-padding-y: 0;
$card-cap-padding-x: 0;
$card-border-width: 0;
$card-box-shadow: inherit;
$card-cap-color: inherit;
$card-height: auto;
$card-color: inherit;
